<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class=" nav-item ">
        <a class="nav-link " routerLink="/shopping-cart" routerLinkActive="active">Organic Shop</a>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle id="navbarDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Username</a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown">
          <a ngbDropdownItem routerLink="/my/orders" class="dropdown-item">My Orders</a>
          <a ngbDropdownItem routerLink="/admin/orders" class="dropdown-item">Manage Orders</a>
          <a ngbDropdownItem routerLink="/admin/products" class="dropdown-item">Manage Products</a>
          <a ngbDropdownItem class="dropdown-item">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>