<form #loginForm="ngForm" (ngSubmit)="submit(loginForm)" class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <button class="btn bnt-lg btn-block google-login" type="submit" (click)="login()">
    Login with Google
  </button>

  <div ngModelGroup="contact" #contactGroup="ngModelGroup">
    <div class="form-group">
      <input ngModel name="inputEmail" id="inputEmail" class="form-control" type="email" placeholder="Email address" required autofocus>
      <input ngModel name="inputPassword" id="inputPassword" class="form-control" type="password" placeholder="Password" required>
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; {{ myDate }}</p>
</form>